
/* Defines the begining of the nav bar */
.Nav{
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* defines the outer bounds of the nav bar and fixes it to the top */
.NavBar {
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color:rgb(37, 63, 50);
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 4vw; */
  }

  /* nav bar flex is the flex container for the nav bar */
  .Nav-Bar-Flex{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(37, 63, 50);
    width: 100%;
    position: fixed;
    top:0;
  }
  /* NB item is the LOGO ITEM on the left of the nav bar menu */
  .NB-Item {
    border-right: 1px solid black;
    background-color:rgb(37, 63, 50);
    font-size: 3vw;
    font-family: 'Righteous';
    height: 4vw;
    padding: 14px 16px;
    display: block;
  }
/* NB-BOX is a flexible box in the center of the nav bar which keeps the menu on the right. */
  .NB-box{
    height: 4vw;
    width: 40vw;
    padding: 14px 16px;
    background-color:rgb(37, 63, 50);
    /* border-bottom: 0.1vw solid black; */
    flex: 1;

  }


    /* justify content is used instead of float */
    /* NB link is the nav bar page links */
  .NB-link{
    display: block;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    padding: 10px 16px;
    border-left: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
    background-color:rgb(37, 63, 50);
    height: 4vw;
    font-size: 1.4;
    line-height: 2vw;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  /* nav bar actions */
  .NB-link:hover:not(#active) {
    background-color: #111;
  }
  .NB-link:hover {
    background-color: rgb(3, 5, 104);
  }
  #active {
    background-color:rgb(42, 109, 68);
    height: 4.5vw;
  }
  #active:hover {
    background-color: rgb(3, 5, 104);
  
  }
/* nav bar actions end here */

.background{
  /* background-color: aqua; */
  display: absolute;
  background-image: url("../img/portfolio-background.PNG");
}

.content {
  /* margin-bottom: -50px; */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.Outer-box{
  flex: 1 0 auto;
  padding-top: 2.5%;
  margin: 0 auto;
  margin-top: 100px;
  width: 80%;
  height: 280vh;
  padding-bottom: 50px;
  top: 50%;
  left: 50%;
  background: rgb(24, 43, 43);
  display: relative;
  /* flex-flow: column wrap; */
}

#portfolio-header{
  font-size: 8vh;
  padding-bottom: 1vh;
  border: 5px solid black;
  text-align: center;
  margin: 0 auto;
  font-family: 'Righteous';
}

.portfolio{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 1%;
  
  padding-left: 3;
  padding-right: 3;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  background-color: rgb(34, 65, 65);
  width: 80%;
  height: 90%;
}
.portfolio > div {
  background-color:rgb(62, 99, 99);
  width: 300px;
  height: 400px;
  margin: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
  padding-bottom: 3%;
  font-size: 12px;
  justify-content: center;
  font-family: 'Righteous';
}
.portfolio-img{
  padding-top: 3%;
  float: inline-end;
}


.push{
  height: 50px;
}
 
  .foot{
    /* position:absolute; */
    flex-shrink: 0;
    bottom: -0.1;
    left: 0;
    right: 0;
    background-color: teal;
    /* padding: 2vw; */
    margin-top: -50px;
    height: 50px;

  }

  @media screen and (max-width: 550px) {
    .Outer-box {
      height: 2000px;
    }
    .portfolio{
      height: 1900px;
      /* padding-bottom: 15%; */
    }
    .foot{
      bottom: 0%;
    }
  }