.Nav{
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.NavBar {
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color:rgb(37, 63, 50);
    position: fixed;
    top: 0;
    width: 100%;
    height: 4vw;
  }
  .NB-box{
    height: 4vw;
    width: 40vw;
    padding: 14px 16px;
    background-color:rgb(37, 63, 50);
    flex: 1;

  }

  .NB-Item {
    border-right: 1px solid black;
    background-color:rgb(37, 63, 50);
    font-size: 3vw;
    font-family: 'Righteous';
    height: 4vw;
    padding: 14px 16px;
    display: block;
  }
    /* justify content is used instead of float */

  .NB-link{
    /* float: right; */
    display: block;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    padding: 10px 16px;
    border-left: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
    background-color:rgb(37, 63, 50);
    height: 4vw;
    font-size: 1.4;
    line-height: 2vw;
    font-family: Arial, Helvetica, sans-serif;

  }
  .Nav-Bar-Flex{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(37, 63, 50);
    width: 100%;
    position: fixed;
  }
  
  .NB-link:hover:not(#active) {
    background-color: #111;
  }
  .NB-link:hover {
    background-color: rgb(3, 5, 104);
  }
  #active {
    background-color:rgb(42, 109, 68);
    height: 4.5vw;
  }
  #active:hover {
    background-color: rgb(3, 5, 104);
  
  }
.Main-Box {
    /* padding-left: 10vw; */
    background-color: rgb(134, 164, 221);
    width: 960px;
    text-align: center;
}
.Outer-box{
padding-top: 10vw;
padding-bottom: 10vw;
margin: 0 auto;
width: 100%;
background-color: rgb(134, 164, 221);
}

.portfolio{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10vw;
  padding-bottom: 10vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  background-color: rgb(34, 65, 65);
  width: 960px;
  height: 1000px;
}
.portfolio > div {
  background-color:rgb(62, 99, 99);
  width: 300px;
  height: 300px;
  margin: 10px;
  text-align: center;
  /* line-height: 75px; */
  font-size: 12px;
}

.portfolio-header{
  padding-top: 10px
}

 
.foot{
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: teal;
  padding: 2vw;

}
/* #foot{
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: teal;
  padding: 2vw;
} */